{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Products Page</title>
{% endblock title %}

{% block content %} 

<h1> All Products Page</h1>

 <!--Main layout-->
 <main>
    <div class="container ">     
    <!-- Products -->
      <section>
      <div class="text-center">
        <div class="row ">
    {% for product_item in all_products %}
          <div class="col-lg-3 col-sm-3 mb-2" >
            <div class="card"  style="width: 100%; ;"  >
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                
                  {% for image in product_item.product_image.all %}
                    {% if image.is_feature %}
                    <a href="{{ product_item.get_absolute_url }}">                  
                    <img src="{{image.images.url}}" class="w-100 card-img-top" alt="{{image.alt_text}}"/>
                    </a>
                    {% endif %}
                  {% endfor %}

                <a href="#!">
                  
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-text"> 
                 <!-- Title-->
                  <h5 class="card-title"> {{ product_item.title }}</h5>          
                  <!-- Description -->
                  <!-- <p class="card-subtitle">{{ product_item.description }}</p> -->
                <!-- Price -->
                <h6 class="mb-1 price"> ${{ product_item.regular_price }}</h6>
              </div>
            </div>
          </div>
    {% endfor %}
          
        </div>

        </div> 
      </div>
    </section>
      

    </div>
    </main>
     <!--Main layout-->


{% endblock content %}

